<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common">
    <sql id="common.empwork.searchDate">
            (
                EXISTS(
                    SELECT TEW.EMPLOYEE_NO
                    FROM T_EMP_WORK TEW
                    WHERE TEW.EMPLOYEE_NO = ${TBLID}
                    AND CONCAT(year,USE_MONTH) <![CDATA[>=]]> #{startDt}
                    AND CONCAT(year,USE_MONTH) <![CDATA[<=]]> #{endDt}
                    AND (USE_STATUS = 3 )
                    )
                    OR EXISTS (

                    SELECT
                    TT1.EMPLOYEE_NO,
                    TT1.USE_MONTH,
                    TEW.USE_MONTH AS UMONTH
                    FROM
                    (
                        SELECT
                        T1.EMPLOYEE_NO,
                        T2.USE_MONTH
                        FROM
                        (
                            SELECT CONCAT( #{searchYear},'01') as USE_MONTH	FROM dual
                            UNION
                            SELECT CONCAT( #{searchYear},'02') as USE_MONTH	FROM dual
                            UNION
                            SELECT CONCAT( #{searchYear},'03') as USE_MONTH	FROM dual
                            UNION
                            SELECT CONCAT( #{searchYear},'04') as USE_MONTH	FROM dual
                            UNION
                            SELECT CONCAT( #{searchYear},'05') as USE_MONTH	FROM dual
                            UNION
                            SELECT CONCAT( #{searchYear},'06') as USE_MONTH	FROM dual
                            UNION
                            SELECT CONCAT( #{searchYear},'07') as USE_MONTH	FROM dual
                            UNION
                            SELECT CONCAT( #{searchYear},'08') as USE_MONTH	FROM dual
                            UNION
                            SELECT CONCAT( #{searchYear},'09') as USE_MONTH	FROM dual
                            UNION
                            SELECT CONCAT( #{searchYear},'10') as USE_MONTH	FROM dual
                            UNION
                            SELECT CONCAT( #{searchYear},'11') as USE_MONTH	FROM dual
                            UNION
                            SELECT CONCAT( #{searchYear},'12') as USE_MONTH	FROM dual
                        ) T2  JOIN
                        (
                            SELECT DISTINCT
                            T_EMP_WORK.EMPLOYEE_NO
                            FROM
                            T_EMP_WORK
                        ) T1
                    ) TT1
                    LEFT JOIN T_EMP_WORK TEW ON TT1.EMPLOYEE_NO = TEW.EMPLOYEE_NO
                    AND TT1.USE_MONTH = CONCAT(TEW. YEAR, TEW.USE_MONTH)
                    WHERE
                    TT1.EMPLOYEE_NO = ${TBLID}
                    AND TT1.USE_MONTH <![CDATA[>=]]> #{startDt}
                    AND TT1.USE_MONTH <![CDATA[<=]]> #{endDt}
                    AND TEW.USE_MONTH IS NULL
                )
            )

    </sql>
</mapper>
