<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webservice.ahiru.mapper.EmployeeWorkMapper">
	<select id="getEmployeeWorkDetail" resultMap="EmployeeWorkDetailMap" parameterType="com.webservice.ahiru.entity.EmployeeWork">
		SELECT T_EMP_WORK.WORK_NO AS workNo,
		T_EMP_WORK.EMPLOYEE_NO AS employeeNo,
		T_EMP_WORK.USE_MONTH AS useMonth,
		T_EMP_WORK.USE_STATUS AS useStatus,
		M_PROJECT.CASE_NAME AS caseName,
		T_EMP_WORK.USE_MEMO AS useMemo
		FROM T_EMP_WORK
		LEFT JOIN M_PROJECT  ON T_EMP_WORK.CASE_ID = M_PROJECT.ID
		WHERE T_EMP_WORK.DEL_FG='0'
		AND T_EMP_WORK.EMPLOYEE_NO=#{employeeNo}
	    AND T_EMP_WORK.PM_EMPLOYEE_NO=#{pmNo}
	</select>

	<insert id="insEmployeeWorkInfo" parameterType="java.util.List">
		<foreach collection="list" item="item" index="" open="" separator=";" close="">
			insert into  T_EMP_WORK
			values (#{employeeNo},#{pmNo},'',#{caseId},'',year(now()),#{useMonth},#{useStatus},#{useStatus},now(),#{pmNo},'','','','','0')
		</foreach>
	</insert>
	<delete id="delEmployeeWorkInfo" parameterType="java.util.List">
			DELETE from  T_EMP_WORK
			WHERE
			T_EMP_WORK.WORK_NO= #{item.workNo}
			AND T_EMP_WORK.PM_EMPLOYEE_NO=#{pmNo}
	</delete>

	<resultMap id="EmployeeWorkDetailMap" type="com.webservice.ahiru.entity.EmployeeWork">
		<result property="workNo" column="workNo"/>
		<result property="employeeNo" column="employeeNo"/>
		<result property="useMonth" column="useMonth"/>
		<result property="useStatus" column="useStatus"/>
		<result property="caseName" column="caseName"/>
		<result property="useMemo" column="useMemo"/>
	</resultMap>
</mapper>
