<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webservice.ahiru.mapper.EmployeeWorkMapper">
	<select id="getEmployeeWorkDetail" resultMap="EmployeeWorkDetailMap" parameterType="com.webservice.ahiru.entity.EmployeeWork">
		SELECT T_EMP_WORK.WORK_NO AS workNo,
		T_EMP_WORK.EMPLOYEE_NO AS employeeNo,
		T_EMP_WORK.PM_EMPLOYEE_NO AS pmNo,
		T_EMP_WORK.USE_MONTH AS useMonth,
		T_EMP_WORK.USE_STATUS AS useStatus,
		M_PROJECT.CASE_NAME AS caseName,
		T_EMP_WORK.USE_MEMO AS useMemo,
		T_EMP_WORK.CASE_ID AS caseId
		FROM T_EMP_WORK
		LEFT JOIN M_PROJECT  ON T_EMP_WORK.CASE_ID = M_PROJECT.ID
		WHERE T_EMP_WORK.DEL_FG='0'
		AND T_EMP_WORK.EMPLOYEE_NO=#{employeeNo}
		<if test="pmNo !='' and pmNo !=null " >
	    AND T_EMP_WORK.PM_EMPLOYEE_NO=#{pmNo}
		</if>
	    ORDER BY T_EMP_WORK.USE_MONTH
	</select>

	<insert id="insEmployeeWorkInfo" parameterType="java.util.List">
		<foreach collection="list" item="item" index="" open="" separator=";" close="">
			insert into  T_EMP_WORK
			values (#{employeeNo},#{pmNo},'',#{caseId},'',year(now()),#{useMonth},#{useStatus},#{useStatus},now(),#{pmNo},'','','','','0')
		</foreach>
	</insert>
	<delete id="delEmployeeWorkInfo" parameterType="com.webservice.ahiru.entity.EmployeeWork">
			DELETE FROM  T_EMP_WORK
			WHERE
			T_EMP_WORK.WORK_NO= #{workNo}
	</delete>
	<update id="updEmployeeWorkInfo" parameterType="java.util.List">
		<foreach collection="list" item="item" index="" open="" separator=";" close="">
			update T_EMP_WORK
			<set>
				<choose>
					<when test="item.caseId=''">
						CASE_ID=null,
					</when>
					<otherwise>
						CASE_ID=#{item.caseId},
					</otherwise>
				</choose>
				<choose>
					<when test="item.caseName=''">
						CASE_NAME=null,
					</when>
					<otherwise>
						CASE_NAME=#{item.caseName},
					</otherwise>
				</choose>

				USE_STATUS=#{item.useStatus},
				USE_MEMO=#{item.useMemo},
				UPD_DT= now(),
				UPD_ID=#{item.uptId}
			</set>
			<where>
				WORK_NO = #{item.workNo}
			</where>
		</foreach>
	</update>

	<resultMap id="EmployeeWorkDetailMap" type="com.webservice.ahiru.entity.EmployeeWork">
		<result property="workNo" column="workNo"/>
		<result property="employeeNo" column="employeeNo"/>
		<result property="pmNo" column="pmNo"/>
		<result property="useMonth" column="useMonth"/>
		<result property="useStatus" column="useStatus"/>
		<result property="caseId" column="caseId"/>
		<result property="caseName" column="caseName"/>
		<result property="useMemo" column="useMemo"/>
	</resultMap>
</mapper>
