<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webservice.ahiru.mapper.EmployeeWorkYearMapper">
	<select id="getEmployeeWorkInfo" resultMap="EmployeeWorkYearMap" parameterType="com.webservice.ahiru.entity.SEVEmpList">
        SELECT T.*
        FROM
        ( SELECT
        VEW.employeeNo,
        VEW.employeeName,
        VEW.department,
        VEW.level,
        VEW.professional,
        '2020' as year,
        max(if (VEW.`month`=date_format(CURDATE(),'%m'),VEW.pmId,'')) pmId,
        max(if (VEW.`month`=date_format(CURDATE(),'%m'),VEW.pmName,'')) pmName,
        max(if (VEW.`month`=date_format(CURDATE(),'%m'),VEW.caseName,'')) caseName,
        max(if (VEW.month = '01',VEW.useStatus,'')) useStatus01,
        max(if (VEW.month = '02',VEW.useStatus,'')) useStatus02,
        max(if (VEW.month = '03',VEW.useStatus,'')) useStatus03,
        max(if (VEW.month = '04',VEW.useStatus,'')) useStatus04,
        max(if (VEW.month = '05',VEW.useStatus,'')) useStatus05,
        max(if (VEW.month = '06',VEW.useStatus,'')) useStatus06,
        max(if (VEW.month = '07',VEW.useStatus,'')) useStatus07,
        max(if (VEW.month = '08',VEW.useStatus,'')) useStatus08,
        max(if (VEW.month = '09',VEW.useStatus,'')) useStatus09,
        max(if (VEW.month = '10',VEW.useStatus,'')) useStatus10,
        max(if (VEW.month = '11',VEW.useStatus,'')) useStatus11,
        max(if (VEW.month = '12',VEW.useStatus,'')) useStatus12
        FROM V_WORK_DATA AS VEW

        GROUP BY 	VEW.employeeNo,
        VEW.employeeName,
        VEW.department,
        VEW.level,
        VEW.professional
        ORDER BY VEW.employeeNo ) T

        <where>
            <if test="name !='' and name !=null " >
                AND (T.employeeNo  like CONCAT('%',#{name},'%') or T.employeeName like CONCAT('%',#{name},'%') )
            </if>

                AND T.year = YEAR(CURDATE())

            <if test="levelList!= null and levelList.size>0" >
                AND T.LEVEL in
                <foreach collection="levelList" index="index" item ="level"  separator="," open=" (" close=")" >#{level}</foreach>
            </if>

            <if test="depRoleNameList!= null and depRoleNameList.size>0" >
                AND T.department in <foreach collection="depRoleNameList" index="index" item ="department"  separator="," open=" (" close=")" > #{department}</foreach>
            </if>

            <if test="techNameList!= null and techNameList.size>0" >
                AND T.professional IN  <foreach collection="techNameList" index="index" item ="professional"  separator="," open=" (" close=")" >#{professional}</foreach>
            </if>

            <if test="pmName !='' and pmName !=null " >
                AND T.pmId = #{pmName}
            </if>

            <if test="startDt !='' and startDt !=null " >
                AND ( EXISTS(
                SELECT TEW.EMPLOYEE_NO
                FROM T_EMP_WORK TEW
                WHERE TEW.EMPLOYEE_NO = T.employeeNo
                AND CONCAT(year,USE_MONTH) <![CDATA[>=]]> #{startDt}
                AND CONCAT(year,USE_MONTH) <![CDATA[<=]]> #{endDt}
                AND (USE_STATUS = 0 AND CASE_ID is null )
                )
                OR NOT EXISTS (
                SELECT TEW.EMPLOYEE_NO
                FROM T_EMP_WORK TEW
                WHERE TEW.EMPLOYEE_NO = T.employeeNo
                AND CONCAT(year,USE_MONTH) <![CDATA[>=]]> #{startDt}
                AND CONCAT(year,USE_MONTH) <![CDATA[<=]]> #{endDt}))
            </if>
        </where>
	</select>

	<resultMap id="EmployeeWorkYearMap" type="com.webservice.ahiru.entity.EmployeeWorkYear">
		<result property="employeeNo" column="employeeNo"/>
		<result property="employeeName" column="employeeName"/>
		<result property="department" column="department"/>
        <result property="pmId" column="pmId"/>
		<result property="pmName" column="pmName"/>
		<result property="caseName" column="caseName"/>
		<result property="level" column="level"/>
        <result property="professional" column="professional"/>
		<result property="useStatus01" column="useStatus01"/>
		<result property="useStatus02" column="useStatus02"/>
		<result property="useStatus03" column="useStatus03"/>
		<result property="useStatus04" column="useStatus04"/>
		<result property="useStatus05" column="useStatus05"/>
		<result property="useStatus06" column="useStatus06"/>
		<result property="useStatus07" column="useStatus07"/>
		<result property="useStatus08" column="useStatus08"/>
		<result property="useStatus09" column="useStatus09"/>
		<result property="useStatus10" column="useStatus10"/>
		<result property="useStatus11" column="useStatus11"/>
		<result property="useStatus12" column="useStatus12"/>
	</resultMap>
</mapper>
