<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webservice.ahiru.mapper.MEmployeeMapper">
    <select id="getInfo" resultMap="MEmployeeMap" parameterType="com.webservice.ahiru.entity.MEmployee">
        SELECT
        BU,
        COMPANY,
        DEPARTMENT,
        EMPLOYEE_NO,
        NAME,
        EMAIL,
        AGENT_PHONE,
        JOB,
        LEVEL,
        DEGREE,
        PROFESSIONAL,
        STATE,
        EMPLOYEE_TYPE,
        IN_SOCIETY_DATE,
        TURN_POSITIVE_DATE,
        LEAVING_DATE,
        COST_CENTER,
        FUNCTION,
        EFFECT,
        LINE_MANAGER,
        WORK_PLACE,
        ENT_DT,
        ENT_ID,
        UPD_DT,
        UPD_ID,
        DEL_DT,
        DEL_ID,
        DEL_FG
        FROM M_EMPLOYEE
        where
        <if test="employeeNo != ''">
        EMPLOYEE_NO = #{employeeNo} AND
    </if>
        DEL_FG = '0'
        order by EMPLOYEE_NO
    </select>

    <resultMap id="MEmployeeMap" type="com.webservice.ahiru.entity.MEmployee">
        <result property="bu" column="BU" />
        <result property="company" column="COMPANY" />
        <result property="department" column="DEPARTMENT" />
        <result property="employeeNo" column="EMPLOYEE_NO" />
        <result property="name" column="NAME" />
        <result property="email" column="EMAIL" />
        <result property="agentPhone" column="AGENT_PHONE" />
        <result property="job" column="JOB" />
        <result property="level" column="LEVEL" />
        <result property="degree" column="DEGREE" />
        <result property="professional" column="PROFESSIONAL" />
        <result property="state" column="STATE" />
        <result property="employeeType" column="EMPLOYEE_TYPE" />
        <result property="inSocietyDate" column="IN_SOCIETY_DATE" />
        <result property="turnPositiveDate" column="TURN_POSITIVE_DATE" />
        <result property="leavingDate" column="LEAVING_DATE" />
        <result property="costCenter" column="COST_CENTER" />
        <result property="function" column="FUNCTION" />
        <result property="effect" column="EFFECT" />
        <result property="lineManager" column="LINE_MANAGER" />
        <result property="workPlace" column="WORK_PLACE" />
        <result property="entDt" column="ENT_DT" />
        <result property="entId" column="ENT_ID" />
        <result property="updDt" column="UPD_DT" />
        <result property="updId" column="UPD_ID" />
        <result property="delDt" column="DEL_DT" />
        <result property="delId" column="DEL_ID" />
        <result property="delFg" column="DEL_FG" />
    </resultMap>
</mapper>
