<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webservice.ahiru.mapper.PmChosenMapper">
    <!--    根据三个参数查找数据-->
    <select id="getPmChosen" resultMap="PmChosenMap" parameterType="com.webservice.ahiru.entity.PmChosen">
        SELECT
        ID,
        NAME,
        LEVEL,
        DEP_ROLE,
        HANYOU_VALUE_NAME,
        YEAR,
        PM_NUM,
        PM_NAME,
        A1,
        A2,
        A3,
        A4,
        A5,
        A6,
        A7,
        A8,
        A9,
        A10,
        A11,
        A12

        FROM
        V_PM_CHOSEN
        WHERE
--         去除1到12月都足月使用的人
        ((a1 AND a2 AND a3 AND a4 AND a5 AND a6 AND a7 AND a8 AND a9 AND a10 AND a11 AND a12) != 1 AND(a1 AND a2 AND a3 AND a4 AND a5 AND a6 AND a7 AND a8 AND a9 AND a10 AND a11 AND a12) != 2)



        <!--    判断ID-->

        <if test="id != '' and id !=null">
            AND (V_PM_CHOSEN.ID LIKE concat(concat("%",#{id}),"%") OR V_PM_CHOSEN.NAME LIKE
            concat(concat("%",#{id}),"%"))

        </if>
        <!--    判断PM名字-->
        <if test="pmName != '' and pmName !=null">
            AND V_PM_CHOSEN.PM_NAME = #{pmName}
        </if>


        <!--    判断部门-->
        <if test="hanyouValueName != '' and hanyouValueName !=null">
            AND V_PM_CHOSEN.HANYOU_VALUE_NAME = #{hanyouValueName}
        </if>

        <!--    判断年月-->
        <if test="year != '' and year !=null">
            AND V_PM_CHOSEN.YEAR = #{year}

            <if test="monthList !=null and monthList.size == 1 ">
                AND ${monthList.get(0)} = 0
            </if>

            <if test="monthList !=null and monthList.size > 1 ">
                AND
                <foreach collection="monthList" item="item"  open="(" close="= 0)" separator="=0 OR">
                ${item}
                </foreach>

            </if>

        </if>

        <if test="startDt !='' and startDt !=null " >
            AND ( EXISTS(
            SELECT TEW.EMPLOYEE_NO
            FROM T_EMP_WORK TEW
            WHERE TEW.EMPLOYEE_NO = V_PM_CHOSEN.ID
            AND CONCAT(year,USE_MONTH) <![CDATA[>=]]> #{startDt}
            AND CONCAT(year,USE_MONTH) <![CDATA[<=]]> #{endDt}
            AND (USE_STATUS = 0 AND CASE_ID is null )
            )
            OR NOT EXISTS (
            SELECT TEW.EMPLOYEE_NO
            FROM T_EMP_WORK TEW
            WHERE TEW.EMPLOYEE_NO = V_PM_CHOSEN.ID
            AND CONCAT(year,USE_MONTH) <![CDATA[>=]]> #{startDt}
            AND CONCAT(year,USE_MONTH) <![CDATA[<=]]> #{endDt}))
        </if>

        ORDER BY PM_NUM,ID DESC

    </select>

    <resultMap id="PmChosenMap" type="com.webservice.ahiru.entity.PmChosen">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="level" column="LEVEL"/>
        <result property="depRole" column="DEP_ROLE"/>
        <result property="hanyouValueName" column="HANYOU_VALUE_NAME"/>
        <result property="year" column="YEAR"/>
        <result property="pmNum" column="PM_NUM"/>
        <result property="pmName" column="PM_NAME"/>
        <result property="a1" column="A1"/>
        <result property="a2" column="A2"/>
        <result property="a3" column="A3"/>
        <result property="a4" column="A4"/>
        <result property="a5" column="A5"/>
        <result property="a6" column="A6"/>
        <result property="a7" column="A7"/>
        <result property="a8" column="A8"/>
        <result property="a9" column="A9"/>
        <result property="a10" column="A10"/>
        <result property="a11" column="A11"/>
        <result property="a12" column="A12"/>


    </resultMap>

</mapper>
