<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webservice.ahiru.mapper.TEmpWorkMapper">
<!--    全查-->
    <select id="getTEmpWork" resultMap="TEmpWorkMap" >
        SELECT
        WORK_NO,
        EMPLOYEE_NO,
        PM_EMPLOYEE_NO,
        PROJECT_ID,
        YEAR,
        USE_MONTH,
        USE_STATUS,
        USE_MEMO,
        ENT_DT,
        ENT_ID,
        UPD_DT,
        UPD_ID,
        DEL_DT,
        DEL_ID,
        DEL_FG,
        CASE_ID,
        CASE_NAME
        FROM T_EMP_WORK
        where
        DEL_FG = '0'
    </select>

    <!--    根据ID-->
    <select id="getTEmpWorkById" resultMap="TEmpWorkMap" >
        SELECT
        WORK_NO,
        EMPLOYEE_NO,
        PM_EMPLOYEE_NO,
        PROJECT_ID,
        YEAR,
        USE_MONTH,
        USE_STATUS,
        USE_MEMO,
        ENT_DT,
        ENT_ID,
        UPD_DT,
        UPD_ID,
        DEL_DT,
        DEL_ID,
        DEL_FG,
        CASE_NAME,
        CASE_ID
        FROM T_EMP_WORK
        where
        DEL_FG = '0'
          AND  EMPLOYEE_NO = #{id}
    </select>


    <resultMap id="TEmpWorkMap" type="com.webservice.ahiru.entity.TEmpWork">
        <result property="workNo" column="WORK_NO" />
        <result property="employeeNo" column="EMPLOYEE_NO" />
        <result property="pmEmployeeNo" column="PM_EMPLOYEE_NO" />
        <result property="projectId" column="PROJECT_ID" />
        <result property="caseId" column="CASE_ID" />
        <result property="caseName" column="CASE_NAME" />
        <result property="year" column="YEAR" />
        <result property="useMonth" column="USE_MONTH" />
        <result property="useStatus" column="USE_STATUS" />
        <result property="useMemo" column="USE_MEMO" />
        <result property="entDt" column="ENT_DT" />
        <result property="entId" column="ENT_ID" />
        <result property="updDt" column="UPD_DT" />
        <result property="updId" column="UPD_ID" />
        <result property="delDt" column="DEL_DT" />
        <result property="delId" column="DEL_ID" />
        <result property="delFg" column="DEL_FG" />

    </resultMap>

<!--    添加数据-->
    <insert id="addTEmpWork">
        insert into T_EMP_WORK (
           WORK_NO,
        EMPLOYEE_NO,
        PM_EMPLOYEE_NO,
        PROJECT_ID,
        YEAR,
        USE_MONTH,
        USE_STATUS,
        USE_MEMO,
        ENT_DT,
        ENT_ID,
        UPD_DT,
        UPD_ID,
        DEL_DT,
        DEL_ID,
        DEL_FG,
        CASE_ID,
        CASE_NAME)
        values (
         #{workNo}
        ,#{employeeNo}
        ,#{pmEmployeeNo}
        ,#{projectId}
        ,#{year}
        ,#{useMonth}
        ,#{useStatus}
        ,#{useMemo}
        ,#{entDt}
        ,#{entId}
        ,#{updDt}
        ,#{updId}
        ,#{delDt}
        ,#{delId}
        ,#{delFg}
        ,#{caseId}
        ,#{caseName}
        )
    </insert>

<!--    修改数据-->
    <update id="edtTEmpWork">
        update T_EMP_WORK
        <set>
            EMPLOYEE_NO = #{employeeNo},
            USE_MONTH = #{useMonth},
            YEAR = #{year},
            PM_EMPLOYEE_NO = #{pmEmployeeNo},
            PROJECT_ID = #{projectId},
            USE_STATUS = #{useStatus},
            USE_MEMO = #{useMemo},
            ENT_DT = #{entDt},
            ENT_ID = #{entId},
            UPD_DT = #{updDt},
            UPD_ID = #{updId},
            DEL_DT = #{delDt},
            DEL_ID = #{delId},
            DEL_FG = #{delFg},
            CASE_ID = #{caseId},
            CASE_NAME = #{caseName}
        </set>
        <where>
            WORK_NO = #{workNo}
        </where>

    </update>

    <update id="setTEmpWorkByNO">
        update T_EMP_WORK
        <set>
            PM_EMPLOYEE_NO = #{newpmemployeeno},
            PROJECT_ID = #{newprojectid},
            CASE_NAME = #{newcasename},
            UPD_DT = #{updDt},
            UPD_ID = #{updId}
        </set>
        <where>
            DEL_FG = '0'
            and PM_EMPLOYEE_NO = #{oldpmemployeeno}
            and PROJECT_ID = #{oldprojectid}
            and CASE_ID = #{oldcaseid}
        </where>
    </update>

    <select id="getTEmpWorkByPM_NO" resultMap="TEmpWorkMap" >
        select distinct
            PM_EMPLOYEE_NO,
            PROJECT_ID,
            CASE_NAME,
            CASE_ID
        from T_EMP_WORK
        where PM_EMPLOYEE_NO = #{pmEmployeeNo}
        and DEL_FG = 0
    </select>

    <!--    修改数据（删除方法）-->
    <update id="delTEmpWork">
        update T_EMP_WORK
        <set>

            DEL_DT = #{delDt},
            DEL_ID = #{delId},
            DEL_FG = 1
        </set>
        <where>
            WORK_NO = #{workNo}
        </where>

    </update>

    <delete id="delTEmpWorkbyworkNo">
        delete from T_EMP_WORK where  WORK_NO = #{workNo}
    </delete>
</mapper>