<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webservice.ahiru.mapper.VEmployeeBpDtlMapper">
    <sql id="VEmployeeBpDtl">
        SELECT
        ID,
        NAME,
        COMPANY,
        VENDOR_COMPANY,
        MANAGER,
        WORK_PLACE,
        BU,
        DEPARTMENT,
        EMAIL,
        AGENT_PHONE,
        JOB,
        LEVEL,
        DEGREE,
        PROFESSIONAL,
        STATE,
        EMPLOYEE_TYPE,
        IN_SOCIETY_DATE,
        TURN_POSITIVE_DATE,
        LEAVING_DATE,
        COST_CENTER,
        FUNCTION,
        EFFECT,
        PID,
        CCC,
        ADMISSION_DT,
        CONTRACT_DT,
        SCHEDULED_EXIT_DT,
        SKILLS,
        WECHAT_ID,
        ROLE,
        DEP_ROLE,
        TECH_DIRECTION,
        PLAN_LEAVING_DATE,
        LEAVING_REASON,
        SCHEDULED_PLAN_EXIT_DT,
        ENT_DT,
        ENT_ID,
        UPD_DT,
        UPD_ID,
        DEL_DT,
        DEL_ID,
        DEL_FG
        FROM V_EMPLOYEE_BP_DTL
    </sql>
<!--    查询视图中所有信息-->
    <select id="getInfo" resultMap="VEmployeeBpDtlMap" parameterType="com.webservice.ahiru.entity.VEmployeeBpDtl">
        <include refid="VEmployeeBpDtl"></include>
        <where>

        </where>
    </select>

<!--    查询视图中  条件信息-->
    <select id="getby" resultMap="VEmployeeBpDtlMap" parameterType="com.webservice.ahiru.entity.VEmployeeBpDtl">
        <include refid="VEmployeeBpDtl"></include>
        <where>
            <if test="department != '' ">
                DEPARTMENT = #{department} AND
            </if>
           <if test="manager != '' ">
               MANAGER = #{manager}
           </if>
        </where>
    </select>
    
<!--  查询空闲人员信息-->
    <select id="getidle" resultMap="VEmployeeBpDtlMap" parameterType="com.webservice.ahiru.entity.VEmployeeBpDtl">
        <include refid="VEmployeeBpDtl"></include>
        <where>

        </where>
    </select>

    <!--  按月查询人员信息-->
    <select id="getmonth" resultMap="VEmployeeBpDtlMap" parameterType="com.webservice.ahiru.entity.VEmployeeBpDtl">
        <include refid="VEmployeeBpDtl"></include>
        <where>

                MONTH(ENT_DT)= #{month};

        </where>
    </select>
    
    <resultMap id="VEmployeeBpDtlMap" type="com.webservice.ahiru.entity.VEmployeeBpDtl">
        <result property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="company" column="COMPANY" />
        <result property="vendorCompany" column="VENDOR_COMPANY" />
        <result property="manager" column="MANAGER" />
        <result property="workPlace" column="WORK_PLACE" />
        <result property="bu" column="BU" />
        <result property="department" column="DEPARTMENT" />
        <result property="email" column="EMAIL" />
        <result property="agentPhone" column="AGENT_PHONE" />
        <result property="job" column="JOB" />
        <result property="level" column="LEVEL" />
        <result property="degree" column="DEGREE" />
        <result property="professional" column="PROFESSIONAL" />
        <result property="state" column="STATE" />
        <result property="employeeType" column="EMPLOYEE_TYPE" />
        <result property="inSocietyDate" column="IN_SOCIETY_DATE" />
        <result property="turnPositiveDate" column="TURN_POSITIVE_DATE" />
        <result property="leavingDate" column="LEAVING_DATE" />
        <result property="costCenter" column="COST_CENTER" />
        <result property="function" column="FUNCTION" />
        <result property="effect" column="EFFECT" />
        <result property="pid" column="PID" />
        <result property="ccc" column="CCC" />
        <result property="admissionDt" column="ADMISSION_DT" />
        <result property="contractDt" column="CONTRACT_DT" />
        <result property="scheduledExitDt" column="SCHEDULED_EXIT_DT" />
        <result property="skills" column="SKILLS" />
        <result property="wechatId" column="WECHAT_ID" />
        <result property="role" column="ROLE" />
        <result property="depRole" column="DEP_ROLE" />
        <result property="techDirection" column="TECH_DIRECTION" />
        <result property="planLeavingDate" column="PLAN_LEAVING_DATE" />
        <result property="leavingReason" column="LEAVING_REASON" />
        <result property="scheduledPlanExitDt" column="SCHEDULED_PLAN_EXIT_DT" />
        <result property="entDt" column="ENT_DT" />
        <result property="entId" column="ENT_ID" />
        <result property="updDt" column="UPD_DT" />
        <result property="updId" column="UPD_ID" />
        <result property="delDt" column="DEL_DT" />
        <result property="delId" column="DEL_ID" />
        <result property="delFg" column="DEL_FG" />
    </resultMap>
</mapper>
